<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="">
      <label for="pseudo">Votre pseudo : </label>
      <input type="text" id="pseudo" name="pseudo" placeholder="Entrez votre pseudo" required="required"/>
      <label for="adresse">Votre adresse de messagerie :</label>
      <input type="email" id="adresse" name="adresse" placeholder="Entrez votre adresse de messagerie" required="required"/>
      <label for="objet">Votre objet du message : </label>
      <input type="text" id="objet" name="objet" placeholder="Entrez l'objet de votre message"/>
      <label for="corps">Votre message : </label>
      <textarea id="corps" name="corps" rows="8" cols="80" placeholder="Faites nous part de votre demande" required="required"></textarea>
      <input type="submit" value="Envoyez"/>
    </form>
  </body>
</html>
